@blue-01:#20c6d2;
@blue-02:  #1e838d;

@white-00: #fff;
@btn-green-color: #8ec649;

.main-bg{
  background-color: @blue-01
}
.white-bg {
  background-color: @white-00;
}
.text-blue {
  color: @blue-01;
}
.btn-primary {
  background-color: @blue-01;
}

.btn-submit {
  color: #fff;
  background-color: @btn-green-color;
  border-color: @btn-green-color;
  border-radius: 0;
}

.header-logo {
  background-image: url(icon.png);
  background-repeat: no-repeat;
  background-size: auto 42px;
  display: block;
  height: 42px;
  width: 99px;
}

.prescription-class {
    background-color: @blue-01;
    height: 620px;
    color: @white-00;

    h2 {
      text-align: center;
      font-size: 45px;
      font-weight: 300;
    }

    .search-list {
      height: 100%;
      max-height: 400px;
      overflow-y: scroll;
      margin:20px;
      color: black;
      ul {
        list-style-type: none;
      }
      ul {
          padding: 0; 
          margin: 0;
          list-style-type: none;
      }
      ul li {
          width: 290px;
          height: 200px;
          background-color:@white-00;
          float: left;
          margin:10px;
          cursor: pointer;
          p {
            margin:10px;
          }
      }
    }
}


.search-input {
    border-radius: 2px;
    border: 0;
    display: block;
    margin-top: 10px;
    outline: 0;
    width: calc(100% - 60px);
    font-size: 24px;
    margin-left: 30px;
    height: 73px;
    text-align: center;
}

.submit-btn-class {
  float: right;
  margin-right: 30px;
}


